<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="Profile photo of {{ site.owner.name }}" width="100" height="100" loading="lazy">

<!-- <h4>{{ site.owner.name }}</h4> -->

<p>{{ site.owner.bio }}</p>

{% if site.owner.email %}<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank" aria-label="Send email"><i class="icon-mail" aria-hidden="true"></i> Email</a></p>{% endif %}

{% if site.owner.cv %}<p style="text-indent:0;"><a href="{{ site.owner.cv }}"><i class="ai ai-google-scholar-square" aria-hidden="true"></i> My CV</a></p>{% endif %}

{% if site.owner.twitter %}<p style="text-indent:0;"><a href="https://twitter.com/{{ site.owner.twitter }}" aria-label="Twitter profile"><i class="icon-twitter" aria-hidden="true"></i> Twitter</a></p>{% endif %}

{% if site.owner.facebook %}<p style="text-indent:0;"><a href="https://facebook.com/{{ site.owner.facebook }}" aria-label="Facebook profile"><i class="icon-facebook" aria-hidden="true"></i> Facebook</a></p>{% endif %}

{% if site.owner.google_plus %}<p style="text-indent:0;"><a href="{{ site.owner.google_plus }}" aria-label="Google+ profile"><i class="icon-google-plus" aria-hidden="true"></i> Google+</a></p>{% endif %}

{% if site.owner.linkedin %}<p style="text-indent:0;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}" aria-label="LinkedIn profile"><i class="icon-linkedin" aria-hidden="true"></i> LinkedIn</a></p>{% endif %}

{% if site.owner.instagram %}<p style="text-indent:0;"><a href="https://instagram.com/{{ site.owner.instagram }}" aria-label="Instagram profile"><i class="icon-instagram" aria-hidden="true"></i> Instagram</a></p>{% endif %}

{% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}" aria-label="GitHub profile"><i class="icon-github" aria-hidden="true"></i> Github</a></p>{% endif %}

{% if site.owner.lastfm %}<p style="text-indent:0;"><a href="https://lastfm.com/{{ site.owner.lastfm }}" aria-label="Last.fm profile"><i class="icon-lastfm" aria-hidden="true"></i> Last.fm</a></p>{% endif %}

{% if site.owner.tumblr %}<p style="text-indent:0;"><a href="https://{{ site.owner.tumblr }}.tumblr.com" aria-label="Tumblr blog"><i class="icon-tumblr" aria-hidden="true"></i> Tumblr</a></p>{% endif %}

{% if site.owner.scholar%}<p style="text-indent:0;"><a href="{{ site.owner.scholar}}" aria-label="Google Scholar profile"><i class="ai ai-google-scholar-square" aria-hidden="true"></i> Google Scholar</a></p>{% endif %}

{% if site.owner.bilibili %}<p style="text-indent:0;"><a href="https://space.bilibili.com/{{ site.owner.bilibili }}" aria-label="Bilibili profile"><i class="ai ai-bilibili-square" aria-hidden="true"></i> Bilibili</a></p>{% endif %}

